Code/analysedData.txt
Code/.idea/
Code/target/
Data/Test/
*.aux
*.log
*.out
.synctex.gz
*.bbl
Project Plan 2/
Code/processedData.txt
Code/preview.mp3
Ethics/Consent.pdf
Code/stdDevConfig.txt
Code/filteredData.txt
Code/featuredData.txt
Code/data.txt
Code/rxtxSerial.dll
Code/dependency-reduced-pom.xml
Code/Code.iml
Ethics/Consent.synctex.gz
Spotify/Code/.idea/
Spotify/Code/target/classes/org/stevenlowes/project/MainKt.class
Spotify/Code/target/
minecraft tools/mcedit/
minecraft tools/
Spotify/Code/filteredData.txt
Spotify/Code/featuredData.txt
Spotify/Code/analysedDataBkp.txt
Spotify/Code/analysedData.txt
Spotify/Code/stdDevConfig.txt
Spotify/Code/processedData.txt
Spotify/Code/data.txt
